#!/bin/bash
cd ..

openssl req -new \
	-config root-ca.conf \
	-out csr/root-ca.csr \
	-keyout private/root-ca.key

openssl ca -selfsign \
	-config root-ca.conf \
	-in csr/root-ca.csr \
	-out certs/root-ca.crt \
	-extensions ca_ext

